In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('./Data.csv')

In [4]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [20]:
X = dataset.iloc[:,0:-1].values
#or
X = dataset[['Country', 'Age','Salary']].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [21]:
y = dataset.iloc[:,-1].values
#or
y = dataset['Purchased'].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

### Handle missing data

##### Option 1 is to drop the entire row.
This works well when you have a very large dataset and there is only a small amount of missing data (> 1% missing)

#####  Option 2 replace the null value with the average of the entire column or average of a subset of the column

In [18]:
#can do this with sklearn or pandas

In [24]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer.fit(X[:,1:3])  #all rows in only columns with numeric values
X[:,1:3] = imputer.transform(X[:,1:3]) #replace all rows in columns 1 and 2 with the transformed values

In [25]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

### Encoding Categorical Data

##### Encoding the independent variables/features

In [26]:
#need to replace the categorical data with numerical data. 
#cant just set france to 1, spain to 2, and germany to 3 as it would interpret it as ordered data

In [27]:
#instead we'll one-hot encode the 1 column of categories into 3 columns of 0s and 1s.
#France would have the vector 1,0,0
#Spain would have the vector 0,1,0
#Germany would have the vector 0,0,1

In [28]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [29]:
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [0])], remainder = 'passthrough')
#[0] is the column we want to onehot.
#passthrough keeps the remaining columns in the dataset.

In [30]:
X = np.array(ct.fit_transform(X))
X

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [31]:
#in certain cases it may be necessary to drop one of the column that was onehot encoded

##### Encoding the dependent variable/label

In [33]:
#also have to encode the dependent variable from yes/no to 1/0

In [35]:
from sklearn.preprocessing import LabelEncoder

In [37]:
le = LabelEncoder()
y = le.fit_transform(y)

In [38]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

### Splitting dataset into training set and test set